[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third-party/VulkanMemoryAllocator"]
	path = third-party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/icaven/glm.git
[submodule "third-party/KTX-Software"]
	path = third-party/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software
